# Assignment: Libraries

This problem set aims to develop your ability to use non-standard libraries such as NumPy, Pandas, Matplotlib, and requests.  

Please follow all instructions precisely.

## Prerequisite: Install libraries

To do this assignment, you need to have a few libraries installed. You already know how to install libraries in a basic Python virtual environment. In Anaconda, it is even easier.  

Install the following libraries:
1. Pandas
2. Requests
3. Matplotlib

Follow this tutorial to install external libraries for your Jupyter notebook using the Anaconda Navigator.  

https://www.tutorialspoint.com/add-packages-to-anaconda-environment-in-python  

Once you are done, run the following cell. If it does nothing (i.e., if it throws no errors), then you may proceed.

In [1]:
# NON-EDITABLE CODE CELL
# You may run this cell, but do not edit it.

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests

## Note

1. There is a good chance that you will have to look up how to do things using these libraries. This is fine. Just credit your sources appropriately.

## Problem 1: Association Rules

### Context

You are a data consultant for a medium-sized grocery. Your job is to help the grocery's marketing and sales team identify the most frequent purchases of customers.

### 1.1

Read the file `sample order basket.csv` into a Pandas DataFrame called `df`.

In [2]:
# CODE CELL

# CODE START
sample_order_basket = './sample order basket.csv'
df = pd.read_csv(sample_order_basket)

df
# CODE END

      OrderNum Product
0         1000    eggs
1         1001   bread
2         1002    eggs
3         1002   bread
4         1002   flour
...        ...     ...
1068      1496   bread
1069      1497     jam
1070      1498   bread
1071      1499    eggs
1072      1499   bread

[1073 rows x 2 columns]

### 1.2

Create a "binary table" using a Pandas DataFrame. Save the DataFrame in a variable called `binary_table`.  

The specifications of the binary table are as follows:
1. The data in the binary table is based on the order log contained in `df`.
2. The index values of the binary table are the unique order IDs contained in the sales logs. These are arranged in ascending numerical order. Format the values as `int64`.
3. The column values of the binary table are the unique products contained in the sales logs. These are arranged in alphabetical order. Format the values as `object`.
4. The values of the binary table are either 0 or 1. A value will be 1 if the respective product is present in the respective order, and it will be 0 if the respective product is not present in the respective order. So, for example: if Order 5 ordered an apple, then the cell at row 5, column apple will have the value 1, and every other cell at row 5 will have the value 0.

In [3]:
# CODE CELL

# CODE START

# convert datatypes
unique_product = df['Product'].unique()
unique_product = np.sort(unique_product)

unique_ordernum = np.int64(df["OrderNum"].unique())

# create binary table
product_col = pd.Series(unique_product)
binary_table = pd.DataFrame(columns=[product_col], index=[df['OrderNum']])

# values are either 0 or 1
for product in product_col:
    df[product] = pd.Series(df['Product'].str.contains(product), dtype=int)
     
# set index for dataframe
binary_table = df.set_index('OrderNum')
binary_table = df.drop('Product', axis=1)
binary_table = df.groupby('OrderNum').sum()

binary_table
# CODE END

          bread  cheese  eggs  flour  jam
OrderNum
1000          0       0     1      0    0
1001          1       0     0      0    0
1002          1       0     1      1    0
1003          1       0     1      0    1
1004          0       0     1      0    0
...         ...     ...   ...    ...  ...
1495          1       0     1      1    0
1496          1       1     1      0    0
1497          0       0     0      0    1
1498          1       0     0      0    0
1499          1       0     1      0    0

[500 rows x 5 columns]

### 1.3

Using `binary_table`, create a report. Store this report in a Pandas DataFrame called `report`.  

The specifications of the report are as follows:
1. The data in the report is based on the data in `binary_table`.
2. The index values of `report` are simply the defaults (i.e., counting up from 0 to whatever number).
3. `report` has two columns: `combination` and `count`. The `combination` column will contain tuples that describe an order combination (e.g., ("apple", "eggplant")). Format the `combination` column as `object`. The `count` column will contain an integer value describing the number of times that this combination appeared in the list of orders. Format the `count` column as `int64`.
4. Sort `reports` by `count` in descending order. The order of combinations within each count bracket does not matter.

You may use any standard library from Python 3.8 that you feel is necessary to complete this item. (This just means that you can use any standard Python library as long as it was in Python 3.8).

In [4]:
# CODE CELL

# CODE START

# make a copy of binary table
bt_copy = binary_table.copy()
binary_dict = bt_copy.to_dict()

# appending in list and dict
report_dict = {'combination':[], 'count':[]}
for item in bt_copy.index:
    combination_list = []
    for element in binary_dict:
        if binary_dict[element][item] == 1:
            combination_list.append(element)
        else:
            pass
            
    convert = tuple(combination_list)
    if convert not in report_dict['combination']:
        report_dict['combination'].append(convert)
        report_dict['count'].append(1)
        final = report_dict
    else:
        report_dict['count'][report_dict['combination'].index(convert)] += 1
        final = report_dict

# updating
report = pd.DataFrame(final)
report = report.sort_values(by = 'count', ascending = False)
report = report.reset_index(drop = True)

report

                          combination  count
0                            (bread,)     65
1                        (bread, jam)     57
2                       (bread, eggs)     47
3                  (bread, eggs, jam)     46
4                             (eggs,)     31
5                              (jam,)     26
6                (bread, eggs, flour)     21
7                 (bread, flour, jam)     18
8               (bread, cheese, eggs)     17
9                         (eggs, jam)     17
10                     (bread, flour)     15
11                    (bread, cheese)     15
12                          (cheese,)     13
13          (bread, eggs, flour, jam)     13
14               (bread, cheese, jam)     12
15                 (eggs, flour, jam)     11
16             (bread, cheese, flour)      9
17                           (flour,)      9
18                (cheese, eggs, jam)      8
19         (bread, cheese, eggs, jam)      7
20                      (cheese, jam)      7
21                     (cheese, eggs)      6
22                       (flour, jam)      6
23         (cheese, eggs, flour, jam)      6
24        (bread, cheese, flour, jam)      5
25                      (eggs, flour)      5
26       (bread, cheese, eggs, flour)      3
27                    (cheese, flour)      2
28  (bread, cheese, eggs, flour, jam)      2
29              (cheese, eggs, flour)      1

## Problem 2: A Plot of the International Space Station's Location

We will only be checking the final output of this problem. 

### Context

You are a budding data scientist aiming to try your new tools on real-world data. As a pet project, you have decided that you want to try plotting the latitude and longitude positions of the International Space Station on a chart.  

An "application programming interface" (API) is an interface (i.e., a point of connection/use) that a program offers to other pieces of software. APIs are how modern computer programs interact. To massively oversimplify the concept, modern applications send and receive HTTP requests and JSON-formatted data to talk to each other.  

We will be using the ISS position data API hosted at http://open-notify.org/Open-Notify-API/ISS-Location-Now/ for this item.  

You are expected to read the documentation of this API for this item.

### 2.1

Use the `requests` library and the `time` library to collect position data of the ISS at intervals of 10 seconds over the course of 30 minutes by sending GET requests to the ISS API endpoint.  

The specifications of this problem are as follows:
1. Send a GET request to the ISS API endpoint once every 10 seconds for 30 minutes. 
2. Each time you send a GET request, append the returned data to a list called `iss_data`.
3. Save all the data to a file called `iss-data.json` so that you do not lose it. You may do this every time you get a request if you wish.
4. Do not modify the returned data per GET request.  
5. The final file `iss-data.json` should contain roughly 180 data points.

We will not be strict about the time intervals. We will only look at the chart that you produce from your data.

In [ ]:
# CODE CELL
import time 
import json

# CODE START

# time elements
start = time.time()
total_time = start + 1800

# define new list
iss_data = []

# getting data
api = "http://api.open-notify.org/iss-now.json"
while start <= total_time:
    iss_data.append(requests.get(api).json())
    time.sleep(10)
    
# save all data to json file
with open("iss-data.json", "a") as json_file:
    json.dump(iss_data, jsonfile, indent = 2)
    
# CODE END

### 2.2

Using the data you gathered and stored in `iss-data.json`, make a `matplotlib` plot of the location data.  

The specifications of this problem are as follows: 
1. Use the longitude and latitude data contained in `iss-data.json` as your data.
2. Plot this data on a `matplotlib` plot that appropriately visualizes the data. It is up to you what specific plot you want to use as long as we, the human readers of your report, understand the message of your plot.
3. Use latitude as the X axis and longitude as the Y axis.  
4. VERY IMPORTANT: Make sure that the chart displays in your Jupyter notebook before you submit.  

We will only check the chart. We do not care how you make it display as long as you follow the specifications.

In [ ]:
# CODE CELL

# CODE START
%matplotlib inline

# read json file
with open("iss-data.json", "r") as json_file:
    json_reader = json.load(json_file)
    
# create new lists
lat = []
long = []

# appending lists
for point in json_reader:
    lat.append(float(i['iss_position']['latitude']))
    long.append(float(i['iss_position']['latitude']))

# plotting
plt.plot(lat, long, 'r')
plt.xlabel("Latitude")
plt.ylabel("Longitude")
plt.title("International Space Station's Location")

plt.show()
    
# CODE END